.login-popup{
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
h2{
    text-align: center;
    font-size: 40px;
    /* margin-left: 50px; */
    /* background-color: red; */
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
    width: 16px;
    cursor: pointer;
}
span{
    cursor: pointer;
}
.login-popup-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.login-popup-inputs input{
    width: 100%;
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    
}
.login-popup-container button{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(65, 167, 65);
    font-size: 15px;
    cursor: pointer;
    
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: rgb(79, 160, 79);
    font-weight: 500;
    cursor: pointer;
}
.login:hover{
   color: green;
}
.sign:hover{
    color: blue;
}